<div id="footerBottom">
    <hr class="my-3">
    <div class="d-flex flex-column flex-md-row justify-content-md-center justify-content-md-between">
        <div class="d-flex flex-column mb-3 mb-md-0">
            <div class="text-center d-md-inline-flex">
                <img alt="CB" width="42" height="24" src="{{ asset('assets/img/icons/cb.png') }}" />
                <img class="mx-1" alt="Visa" width="42" height="24" src="{{ asset('assets/img/icons/visa.png') }}" />
                <img alt="Mastercard" width="42" height="24" src="{{ asset('assets/img/icons/mastercard.png') }}" />
                <img class="mx-1" alt="Maestro" width="42" height="24" src="{{ asset('assets/img/icons/maestro.png') }}" />
                <img alt="Paypal" width="42" height="24" src="{{ asset('assets/img/icons/paypal.png') }}" />
                <img class="mx-1" alt="Alma" width="42" height="24" src="{{ asset('assets/img/icons/alma.png') }}" />
                <img alt="Apple Pay" width="42" height="24" src="{{ asset('assets/img/icons/applepay.png') }}" />
                <img class="mx-1" alt="Google Pay" width="42" height="24" src="{{ asset('assets/img/icons/googlepay.png') }}" />
                <img alt="Amex" width="42" height="24" src="{{ asset('assets/img/icons/amex.png') }}" />
            </div>
            <div class="mt-3 d-flex flex-column align-items-center align-items-md-start">
                <p class="fs-12 lh-16 fw-900">Livraison dans les pays suivants :</p>
                <div class="mt-1">
                 <span class="fs-12 lh-16">
                      <img class="flag" alt="France & Corse" width="12" height="12" src="{{ asset('assets/img/icons/fr.png') }}" />
                     France & Corse
                 </span>
                    <span class="fs-12 lh-16 mx-3">
                      <img class="flag" alt="Belgique" width="12" height="12" src="{{ asset('assets/img/icons/be.png') }}" />
                     Belgique
                 </span>
                    <span class="fs-12 lh-16">
                      <img class="flag" alt="Luxembourg" width="12" height="12" src="{{ asset('assets/img/icons/lx.png') }}" />
                     Luxembourg
                 </span>
                </div>
            </div>
        </div>
        <div class="d-flex w-100 flex-column">
            <div class="d-flex flex-row justify-content-center justify-content-md-end">
                <button title="Langue" class="btn btn-outline-black">
                    <i class="bi bi-globe me-2"></i>
                    <img class="flag me-1" alt="France & Corse" width="14" height="14" src="{{ asset('assets/img/icons/fr.png') }}" />
                    <span class="fs-16 lh-24">Français</span>
                    <i class="bi bi-chevron-down ms-2 fs-15"></i>
                </button>
                <button title="Langue" class="btn ms-3 btn-outline-black">
                    <span class="fs-16 lh-24">Français</span>
                    <i class="bi bi-chevron-down ms-2 fs-15"></i>
                </button>
            </div>
            <div class="mt-3 d-flex justify-content-between justify-content-md-end align-items-center">
                <img alt="Avis vérifiés" width="173" height="77" src="{{ asset('assets/img/avis_verifies.png') }}" />
                <img class="ms-5" alt="Avis vérifiés" width="76" height="89" src="{{ asset('assets/img/POY-FR.png') }}" />
            </div>
        </div>
    </div>
</div>