<div class="row links mt-5">
    {% if rubrics is defined and rubrics|length > 0 %}
        {% for rubric in rubrics %}
            <div class="col-12 {% if loop.index in [2, 3] %}col-md-3{% else %}col-md-2{% endif %}">
                <div class="d-flex justify-content-between align-items-center {% if loop.last == false %}mb-4 mb-md-0{% endif %}">
                    <h3>{{ rubric.title }}</h3>
                    <i class="bi bi-plus d-md-none fs-20"></i>
                </div>
                <hr class="d-none d-md-block">
                {% for link in rubric.children %}
                    <ul class="list-unstyled d-none d-md-block">
                        <li>
                            <a href="{{ link.href }}" rel="noopener" target="{{ link.target }}" title="{{ link.label }}">{{ link.label }}</a>
                            {% if link.isNew %}
                                <span class="badge-new ms-1">Nouveau</span>
                            {% endif %}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
</div>